* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar-nav{
    gap: 30px;
   
}

.row img{
    width: 100px;
}

.menu li a{
    color: #ff0000;
}

.hero{
    background-image: url(img/fondo_marvel.png);
    width: 100%;
   
    height: 700px;
    display: flex;
    
    justify-content: center;   
}

.hero h1{
    color: aliceblue;
}

.heroDescripcion h1{
    font-size: 70px;
}

.pozole{
    margin: 200px;
}

