* {
    font-size: "Bitcount Grid Double", system-ui;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
    /* 
   background-image: url(fondomarvelv8.avif);
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: cover;
     */
  body{
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-style: normal;

}
.body-back{
    background-color:#161616 ;
}

.hero-section .hero-image {
    max-height: 300px; 
    width: auto;
    object-fit: contain;
    margin-top: 40px; 
    margin-bottom: 40px; 
    
}


.hero-section {
    padding-top: 1.5rem !important; 
    padding-bottom: 1.5rem !important; 
    justify-content: center;
    align-items: center;
    
}

.container{

    width: 100%; 
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;   
    flex-wrap: wrap;           
    gap: 100px;
   padding: 50px;
    
}



.character {
  background-color: #ffffff;;
  border-radius: 22px;
  box-shadow: 0 4px 8px rgba(68, 38, 240, 0.2);
  width: 200px;
  height: 700px;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
   
}

.character:hover {
  transform: scale(1.05);
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.character img {
  width: 100%;
  height: 60%;
  border-radius: 8px 8px 0 0;
  overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.body-per{
background-color: #866666;
}
.character--information{
  background-color: #000000;
}
.character-image-area img {
    width: 100px;   
    height: 100%; 
    object-fit: contain; 
    border-radius: 8px 8px 0 0; 
    transition: transform 0.3s ease; 
}
.character h2 {
color: white;
margin-top: 10px; 
margin-bottom: 5px;
height: 28%;
font-size: 25px;
}

.character h6 {
  color: #ffffff;
  margin-bottom: 3px;
}

.character p {
  color: #f4cb01;
   display: inline; 
   margin-left: 5px; 
}

.character_content{
    background-color: #414141; 
    padding: 15px; 
    width: 100%;
    height: 40%; 
    border-radius: 0px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.imagen img{
    width: 150px;
    padding-left: 100px;
    
}

.home{
  padding-left: 120px;
}


.search-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  max-width: 220px;
  margin: 3px auto 0 auto;
}

.search-box input {
  padding: 5px 8px;
  font-size: 14px;
  width: 100%;
  max-width: 160px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 5px;
  background-color: red;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box button img {
  width: 20px;
  height: 20px;
}


@media (max-width: 576px) {
  .search-box {
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    gap: 5px;
  }

  .search-box input {
    max-width: 150px;
    font-size: 13px;
  }

  .search-box button {
    width: 32px;
    height: 32px;
  }

  .search-box button img {
    width: 18px;
    height: 18px;
  }
}


#pagination {
      margin-top: 20px;
      text-align: center;
      margin-bottom: 25px;
    }

    #pagination a {
      display: inline-block;
      margin: 0 5px;
      padding: 8px 12px;
      text-decoration: none;
      color: #333;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
      transition: background-color 0.2s, color 0.2s;
    }

    #pagination a:hover {
      background-color: #ffae00;
      color: white;
      
    }

    .body-per{
background-color: #878787;
}
.character--information{
  background-color: #000000;
  
  height: 580px;
  
}


.character--information img {
height: 500px;
  display: block;
  margin: 0 auto;
  max-width: 300px;
   padding: 10px;
}
.character--information img.character-detail-img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
    height: auto;
    cursor: pointer; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(27, 102, 112, 0.3); 
}

.character--information img.character-detail-img.enlarged-detail-image {
    transform: scale(1.2); 
    box-shadow: 0 15px 30px rgba(48, 175, 175, 0.6);
    z-index: 10; 
    position: relative; 
    border: 3px solid #f4cb01; 
}
.character--information h1 {
  text-align: center;
    margin: auto;
    flex-direction: column;
    font-size: 3.5rem;   
    color: #fff;
    
}
.character--info {
  text-align: center;
  margin-top: 20px;
  background-color: #262626;
  padding: 20px; 
    border-radius: 10px;
}

.character--info img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  height: auto;
}

.character--info h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  color: white;
}

.character--info p {
  margin-top: 0;
  margin-bottom: 20px;
  text-align: justify;
  padding: 0 20px;
  color: white;
}
.character--info h6 {
    color: white;
    margin-top: 15px; 
    margin-bottom: 5px;
}

.character--info h6 span {
    color: #f4cb01; 
    font-weight: bold;
}


.lin{
  list-style: none;
   text-align: center;
  list-style-position: inside;
  padding: 0;
  display: inline-block;
  margin: 4px 8px;
  color: white;
}
.lin li {
    margin-bottom: 5px; 
    color: #ced4da; 
}

.botton {
    margin-top: 20px; 
}

.botton a {
    display: inline-block;
    background-color: #f4cb01; 
    color: #212529; 
    padding: 10px 25px;
    border-radius: 25px; 
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.botton a:hover {
    background-color: #e0b300; 
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(51, 136, 175, 0.2);
}


@media (max-width: 768px) {
    .container {
        padding: 50px 20px; 
    }
    .character {
        width: 180px; 
        height: 650px; 
    }

    .imagen img{
    width: 150px;
    padding-left: 100px;
    
}
    .character--information h1 {
        font-size: 3rem;
    }
    .imagen img {
        padding-left: 20px; 
    }
}

@media (max-width: 576px) {
    .character {
        width: 100%; 
        max-width: 250px; 
        height: auto; 
    }
    .character-image-area {
        height: 250px; 
    }
    .container {
        gap: 40px;
    }
}

.filters select {
  background-color: #1a1a1a; 
  color: #ffa500; 
  border: 1px solid #eeb751;
  padding: 2px 2px;
  border-radius: 5px;
  margin: 0 10px 10px 0;
  font-weight: bold;
  outline: none;
  transition: all 0.3s ease;
}


.filters select:hover {
  background-color: #292929;
  border-color: #ffcc00;
  color: #ffcc00;
  box-shadow: 0 0 5px rgba(255, 165, 0, 0.5);
}

.filters {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 20px;
  
}